@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@1,700&display=swap');
@font-face {
  font-family: 'vessel-barlow-bold';
  src: url('/fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'vessel-roboto';
  src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'vessel-roboto-bold';
  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

/* Hide the spin button on number inputs with the no-spin class */
input[type="number"].no-spin::-webkit-inner-spin-button,
input[type="number"].no-spin::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'].no-spin {
  -moz-appearance: textfield;
}

input[type='number'].no-spin::-ms-clear {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: 'tb-white';
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.vesselbg {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-color: 'tb-white';
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 80px;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

@media (max-width: 768px) {
  .flex-column-below-900 {
    flex-direction: column;
  }
  .width-100-below-900 {
    width: 95%;
  }
  .bg-grey-below-900 {
    background-color: #f9f9f9;
    border-radius: 25px;
    padding: 10px;
  }
  .small_scrn_less_padding {
    padding: 1rem;
  }
}

@media (min-width: 900px) {
  .landing-height {
    height: calc(100vh - 137px - 137px);
  }
  .landing-details {
    min-height: calc(100vh - 90px - 90px);
    overflow-y: auto;
  }
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-black bg-black py-1.5 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-vp-yellow bg-transparent py-1.5 px-5 text-vp-yellow transition-all hover:bg-vp-yellow hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply text-center w-full font-barlowbold mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.vessel_title {
  @apply font-barlowbold text-vp-white text-8xl leading-11;
}

.vessel_footer {
  @apply bg-tb-white font-roboto text-tb-violet p-4 border-t border-dotted border-white w-full
}

.vessel_addresses {
  @apply text-xs flex space-x-4
}
.vessel_sub_text {
  @apply font-roboto text-small leading-5 text-tb-violet tracking-normal my-3;
}

.vessel_main_link {
  @apply font-robotobold text-sm underline underline-offset-8 text-vp-white hover:text-vp-green;
}

.vessel_input {
  @apply block font-roboto w-full h-10 bg-white text-black border-solid border-2 border-black rounded p-2 mt-1;
}

.vessel_input_disabled {
    @apply block w-full text-black border-solid border-2 border-black rounded p-2 mt-1 opacity-50 cursor-not-allowed;
}

.vessel_form_wrapper {
  @apply flex-start flex-col w-10/12 max-w-custom bg-tb-light-gray rounded-lg border-solid border-2 border-black p-12 small_scrn_less_padding mb-24 mt-12 mx-60;
}

.vessel_login_label {
  @apply block uppercase tracking-wide text-gray-700 text-sm font-bold mb-2;

}

.vessel_login_input {
  @apply appearance-none block w-full text-lg bg-tb-white border-solid border-black text-tb-violet border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white;
}

.type_container {
  @apply w-full h-72 rounded-lg px-4 py-4 m-2 flex items-center justify-center flex-col space-y-4 text-tb-violet hover:text-tb-brown hover:bg-tb-brown bg-tb-gray cursor-pointer hover:bg-opacity-50;
}

.vessel_submit_button {
  @apply bg-vp-yellow hover:bg-vp-green text-white font-bold py-2 px-4 rounded
}

.location_option {
  @apply font-barlowbold text-4xl rounded p-4 m-2 text-vp-white hover:text-vp-black hover:bg-gray-300 mx-10 text-center;
}

.vessel_suggestion {
  @apply font-roboto text-small leading-5 text-black tracking-normal my-3 text-center;
}

.vessel_input_label {
  @apply font-roboto text-small leading-5 text-black tracking-normal my-3;
}

.order_confirm_key {
  @apply font-bold;
}

.artwork_wrapper {
  @apply flex flex-col w-10/12 max-w-custom p-12 small_scrn_less_padding mb-24 mt-12 mx-60 items-center;
}

.artwork_header {
  @apply font-barlowbold text-tb-violet text-6xl leading-11 mb-12;
}

.box-container {
  @apply w-44 h-auto rounded-lg border border-gray-300 p-4 flex flex-col items-center justify-start gap-2;
}

.box-title {
  @apply text-center font-bold text-xl;
}

.rectangle {
  @apply opacity-100 hover:opacity-70 rounded-lg p-2 mt-2 flex flex-col items-center h-auto w-11/12;
}

.rectangle p {
  @apply text-xs text-center;
}

.rectangle a {
  @apply text-blue-500 hover:underline;
}


.error {
  @apply border-solid border-red-400;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.vessel_btn {
  @apply rounded-full w-1/3 border border-vp-green bg-vp-green py-1.5 px-5 text-black transition-all hover:bg-white hover:text-black text-center text-sm font-inter flex items-center justify-center;
}


/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-gray-500 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm text-gray-500 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-black tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.error-message {
  font-size: 0.85rem;
  color: #ff0033;
}

.portable-text p {
  @apply mb-4; 
}

.portable-text a {
  @apply underline text-vp-yellow; 
}

.portable-text ul {
  @apply list-disc list-inside;
}